.fillpage{
    text-align: center;
    padding: 70px 0;
    font-family: verdana;
    top: 17px;
    left: 50px;
    scroll-behavior: auto;
   
}
.formsize{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: mistyrose;
    border-width: medium;
}
.row g-3 needs-validation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}