<div class="about">
    <div class="about1"><img src="https://5.imimg.com/data5/QX/WX/MY-13533316/swagat-lady-fiber-wall-hanging-500x500.jpg" width="200px" >
        
          </div>
          <div class="space"></div>
    <div class="middle" ><h1>Welcome To VINAYAK Jewellery</h1> </div>
    <div class="space"></div>
    <div class="about2"><img src="https://5.imimg.com/data5/QX/WX/MY-13533316/swagat-lady-fiber-wall-hanging-500x500.jpg" width="200px"></div>
    
</div>
<div>
    <app-formfill></app-formfill>